[build]
  command = "npm --prefix Ecommerce/FrontEnd install && npm --prefix Ecommerce/FrontEnd run build"
  publish = "Ecommerce/FrontEnd/dist"

[functions]
  node_bundler = "esbuild"
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
